@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.dashboard{
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: v.$gris-claro;

  &__header{
    background-color: v.$gris-oscuro;
    padding: 2rem;
  }

  &__header-grid{
    display: flex;
    flex-direction: column;

    @include m.tablet{
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__logo{
    @include m.logo;
    @include m.texto-fluido(2rem, 3rem);
  }

  &__nav{

  }

  &__form{
    display: flex;
    justify-content: center;
  }

  &__submit--logout{
    @include m.enlace(transparent, v.$blanco, v.$azul, v.$bold);
  }

  &__grid{
    display: flex;
    flex: 1;
  }

  &__sidebar{
    background-color: color.scale(v.$gris-oscuro, $lightness: 20%);
    width: 12rem;
  }

  &__menu{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  &__enlace{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    color: color.scale(v.$gris-oscuro, $lightness: 90%);
    transition: 240ms background-color ease-in-out, 240ms color ease-in-out, 240ms border-radius ease;

    &:hover,
    &--actual{
      background-color: color.scale(v.$gris-oscuro, $lightness: 40%);
      color: v.$blanco;
      border-radius: 1rem;
    }
  }

  &__icono{
    font-size: 2rem;
  }

  &__menu-texto{
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: v.$bold;
    margin-top: .5rem;
  }

  &__contenido{
    padding: 1rem 1rem 3rem 1rem;
    width: 100%;

    @include m.tablet{
      padding: 1rem, 5rem 3rem 5rem;

    }
  }

  &__contenedor-boton{
    @include m.tablet{
      display: flex;
      justify-content: flex-end;
    }
  }

  &__boton{
    @include m.boton(v.$azul, v.$blanco, 100%);
    padding: 1.5rem 2.5rem;
    font-size: 1.4rem;
    text-transform: uppercase;

    @include m.tablet{
      @include m.boton(v.$azul, v.$blanco, auto);
      padding: 1.5rem 2.5rem;
      font-size: 1.4rem;
      text-transform: uppercase;
    }
  }
}